/myenv/*
/cache
/.pytest_cache
/__pycache__
*/.DS_Store
app.py
geohash-test.py
main.py
nep_dat.py
osm_retrieval.py
encoder_shortened.py
admin_hash.py
/NEPAL_GAPANAPA_WARDS
geocode_reverse.py
geoHash.py
geohash-test.py
books.db
api.py
decoder_test.log
encoder_test.log 
test.log
test.py
Geohash_Encoder_v1.py
geoHash.py
test_geohash_encoder.py
Geohash_Encoder_v1.py
books.db
/venv




