/myenv/*
/cache
/.pytest_cache
/__pycache__
*/.DS_Store
app.py
geohash-test.py
geoHash.py
main.py
nep_dat.py
osm_retrieval.py
encoder_shortened.py
admin_hash.py
/NEPAL_GAPANAPA_WARDS
geocode_reverse.py
geoHash.py
geohash-test.py
/pokhara-ward.geojson





